os:
  editCommand: "nvim"
  editCommandTemplate: "{{editor}} +{{line}} {{filename}}"

notARepository: "skip"

keybinding:
  universal:
    prevItem-alt: "u"
    nextItem-alt: "e"
    prevBlock: "n"
    nextBlock: "i"
    nextTab: "I"
    prevTab: "N"
    nextMatch: "k"
    prevMatch: "K"
    new: "k"
    edit: "o"
    openFile: "O"
    scrollDownMain-alt2: "<c-e>"
    executeShellCommand: ";"
    undo: "l"
    redo: "<c-r>"
    diffingMenu: "<c-d>"
    filteringMenu: "<c-f>"
    copyToClipboard: "Y"
  files:
    ignoreFile: ""
  branches:
    viewGitFlowOptions: ""
  commits:
    startInteractiveRebase: ""
    moveUpCommit: "<c-l>"
    moveDownCommit: "<c-j>"
    resetCherryPick: "<c-c>"
  stash:
    popStash: "p"
    renameStash: "r"
  submodules:
    init: ""
